.infoBox {
    flex: 1;
    cursor: pointer;
    background-color: rgb(141, 141, 141);
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases {
    color: red;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: lightslategray;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.infoBox--selected {
    border-top: 10px solid greenyellow;
}

.infoBox--red {
    border-color: red;
}

.infoBox--gray {
    border-color: gray;
}

.infoBox--green {
    border-color: greenyellow;
}

.infoBox__cases--green {
    color: yellowgreen !important;
}

.infoBox__cases--gray {
    color: gray !important;
}