.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: lightgray;
    background-color: rgb(94, 94, 94);
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #888888;
}