body {
    --facebook-blue: #2e81f4;
    --facebook-bg: #f1f2f5;
    --facebook-plain: #eff2f5;
    --facebook-dark-mode: #272727;
    --facebook-dark-hover: #474747;
    --facebook-dark-gray: #323232;
}

.app {
    background-color: var(--facebook-dark-mode);
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app__body {
    display: flex;
}