.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
    border-radius: 10px;
    background-color: rgb(66, 66, 66);
}

.sidebarRow>h4 {
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow>.MuiSvgIcon-root {
    font-size: xx-large !important;
    color: #2e81f4 !important;
}